<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ddevasenapathy/IdeaProjects/MAVEN_Projects1">
       <classes>
           <class name="Java_Basics">
<!--               <methods>-->
<!--                   <include name="reverse_a_number"/>-->
<!--                   <include name="factorial_function"/>-->
<!--               </methods>-->
           </class>
           <class name="Screenshot"></class>
           <class name="Scroll_page"></class>
           <class name="WebElements_size"></class>

       </classes>
    </test>
</suite>